
export CLICOLOR=1
export LSCOLORS=gxBxhxDxfxhxhxhxhxcxcx

# tell grep to higlight matches
export GREP_OPTIONS='--color=auto'

# alias
alias s='cd ..'
alias ls='ls -FGal'
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Recursively delete `.DS_STORE`
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Vagrant
alias gogo='vagrant ssh'

# PHP
alias artisan='php artisan'

# Projects
alias fd='cd $HOME/work/fd/env'
alias fdm='cd $HOME/Sites/fd-mobile'

# boot2docker
alias b2d='boot2docker'

# Docker
alias devenv="docker start -ia devenv"
alias create-devenv="docker run -it \
  --name devenv \
  -v /Users/Simon/.ssh:/home/developer/.ssh \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v $(which docker):$(which docker) \
  -v /workspace:/workspace \
  freyskeyd/developer"
