# rbenv
export RBENV_ROOT="$HOME/.rbenv"

if [ -d $RBENV_ROOT ]; then
  export PATH="$RBENV_ROOT/bin:$PATH"
  eval "$(rbenv init -)"
fi
export PATH=/usr/local/sbin:$PATH
echo bundler >> ~/.rbenv/default-gems
echo rubygems-bundler >> ~/.rbenv/default-gemsexport PATH=/usr/local/sbin:$PATH
# Add dart
export PATH=$PATH:/usr/local/Cellar/dart/1.8.3/bin
export PATH=$HOME/.composer/vendor/bin:$PATH
export PATH=$HOME/bin:$PATH
export PATH=$HOME/.dotfiles/bin:$PATH
