" http://vim.wikia.com/wiki/Restore_cursor_to_file_position_in_previous_editing_session
" Restore cursor to file position in previous editing session
" To disable this:
" let g:cfg_no_restore_cursor = 1

" To disable views:
" let g:cfg_no_views = 1

" The default leader is '\', but many people prefer ',' as it's in a standard
" location. To override this behavior and set it back to '\' (or any other
" character):
" let g:cfg_leader='\'